/* ! Base Style */
body{font-family: 'Inter', sans-serif;font-size: 16px;}

a{text-decoration: none;}

h1, h2, h3, h4, h5, p{color:#000; padding-bottom: 30px;}

.big-text{font-size: 70px; font-weight: 900;}
.med-text{font-size: 40px;}
.normal-test{font-size: 20px;}
.smal-test{font-size: 14px;}

.intro-text{text-transform: uppercase;font-size: 20px;font-weight: bold;}

.button{padding: 18px 28px;background: #008B00; color:#fff; display: inline-block; border-radius: 4px;}

/* ! header */

.header{
  width: 100%;
  position: fixed;
  top:0;
  left:50%;
  transform: translateX(-50%);
  padding: 30px;
  display: flex;
  max-width: 1350px;
}

.logo{}

.menu{
  width: 100%;
}

.menu li{display: inline-block;}
.menu li a{color: #fff;padding: 15px;display: block;}


/* ! hero */

.hero{
  height: 937px;
  display: flex; width: 100%;align-items: center;
  background: linear-gradient(0deg, rgba(0,0,0,.2), rgba(0,0,0, 0.9)),
   url('giardino.png') no-repeat center center;
  background-size: cover;
}
.hero__content{
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 30px;

}

.hero__content h1,
.hero__content p{color: #fff;}












*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
